


<!---<cfquery name="cu">
   SELECT  ut.logonName, ut.firstName, ut.lastName, ut.email
   FROM		tblUsers_temp ut  join tblUsers u
   					on ut.firstName = u.firstName 
                    and ut.lastName = u.lastName
                    and ut.email = u.userEmail
   ORDER BY	 u.lastName, u.firstName
</cfquery>--->

<cfquery name="cu">
   SELECT  ut.logonName, ut.firstName, ut.lastName, ut.email, u.firstName, u.lastName, u.userLogin, u.userEmail
   FROM		tblUsers_temp ut  join tblUsers u
                    on ltrim(rtrim(ut.email)) = ltrim(rtrim(u.userEmail))
   WHERE		ut.logonName NOT LIKE u.userLogin
   ORDER BY	 u.lastName, u.firstName
</cfquery>

<cfoutput>Count: #cu.recordCount#</cfoutput>

<cfdump var="#cu#">

<cfloop query="cu">
<cfquery result="result">
UPDATE tblUsers
SET firstName = '#cu.firstName#', lastName = '#cu.lastName#', userEmail = 'ltrim(rtrim(#cu.email#))', userLogin = '#cu.logonName#', userPassword = null
WHERE  userEmail LIKE '#cu.userEmail#'
</cfquery>

<cfif result.recordCount>
<cfoutput>#result.recordCount# #cu.email# --> #cu.logonName#</cfoutput><br />
</cfif>

</cfloop>
